@import "./global.css";

:root {
  --gray: rgb(63, 63, 63);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100vw;
  background: linear-gradient(to right, #0395e9, #0395e9 50%, #78cdc9 75%);
}

.banner img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 4.8rem;
  padding: 4.8rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-shrink: 0;
}

.profile h2 {
  font-weight: 600;
  font-size: medium;
  color: #0898e8;
}

.profile ul {
  width: 100%;
  font-size: small;
  color: var(--gray);
  padding-left: 1.2rem;
  list-style: none;
}

.profile li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profile p a {
  color: var(--gray);
}

.github {
  width: 2rem;
  padding: 0.2rem;
  height: auto;
}

.detail {
  width: 100%;
}

.detail h2 {
  font-size: x-large;
}

.detail h3 {
  font-size: medium;
  margin-bottom: 1rem;
}

.detail .content {
  display: flex;
  align-items: stretch;
}

.detail .content div {
  flex: 1;
  border-right: solid 1px rgb(231, 231, 231);
  padding: 1.6rem;
}

.detail .content div:first-child {
  padding-left: 0;
}

.detail .content div:last-child {
  border: none;
  padding-right: 0;
}

.detail .content p {
  color: var(--gray);
}

.lightgray {
  color: rgb(231, 231, 231);
}

b {
  font-weight: 600;
}

.question-mark {
  display: inline-block;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
  0%,
  20%,
  40% {
    transform: translateY(0);
  }
  10%,
  30% {
    transform: translateY(-3px);
  }
}

/* Mobile */
@media (max-width: 990px) {
  main {
    flex-direction: column;
    padding: 2.4rem 2rem;
    gap: 2.4rem;
  }

  .banner {
    height: 14rem;
  }

  .banner img {
    object-fit: cover;
  }

  .profile ul {
    padding-left: 0.6rem;
  }

  .detail h2 {
    border-bottom: solid 1px rgb(231, 231, 231);
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }

  .detail h3 {
    margin-bottom: 0.6rem;
  }

  .detail .content {
    flex-direction: column;
  }

  .detail .content div {
    border-right: none;
    padding: 1rem 0;
  }
}
