@import "./global.css";

:root {
  --gray-font: rgb(63, 63, 63);
  --skyblue: #78cdc9;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: x-large;
  margin-bottom: 1rem;
}

h3 {
  font-size: medium;
  margin-bottom: 1rem;
}

.banner {
  background: linear-gradient(to right, #0395e9, #0395e9 50%, var(--skyblue) 75%);
}

.banner img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

main {
  padding: 4.8rem 0;
  max-width: 1200px;
  margin: 0 auto;
  /* overflow-x: auto; */
}

.intro {
  display: flex;
  gap: 4.8rem;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-shrink: 0;
}

.profile h2 {
  font-weight: 600;
  font-size: medium;
  color: #0898e8;
}

.profile ul {
  width: 100%;
  font-size: small;
  color: var(--gray-font);
  padding-left: 1.2rem;
  list-style: none;
  font-weight: 400;
}

.profile li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profile p a {
  color: var(--gray-font);
}

.github {
  width: 2rem;
  padding: 0.2rem;
  height: auto;
}

.about-me {
  width: 100%;
}

.about-me .content {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.about-me .content div {
  flex: 1;
  border-right: solid 1px rgb(231, 231, 231);
  padding: 1.6rem;
}

.about-me .content div:first-child {
  padding-left: 0;
}

.about-me .content div:last-child {
  border: none;
  padding-right: 0;
}

.about-me .content p {
  color: var(--gray-font);
  font-weight: 400;
}

.about-me .content ul {
  padding-left: 2.4rem;
}

.log {
  margin-top: 4.8rem;
}

.log .content {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.log .content .detail {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-x: hidden;
  margin-right: -2rem;
}

.log .detail .box {
  padding-right: 2rem;
}

.timeline {
  display: flex;
  font-size: small;
  gap: 1rem;
}

.timeline .years {
  color: var(--gray-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline .years span {
  display: block;
}

.timeline .line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline .line .point {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: lightgray;
}

.timeline .line .point:first-child {
  background-color: var(--skyblue);
}

.timeline .line .point:last-child {
  transition: background-color 0.5s 0.5s ease-in-out;
}

.timeline .line .bar {
  width: 0.6rem;
  height: 100%;
  background-color: lightgray;
}

.timeline .bar div {
  width: 100%;
  background-color: var(--skyblue);
  transition: height 0.5s ease-in-out;
}

.slide {
  overflow-x: auto;
  margin-top: 1rem;
}

.slide .wrapper {
  width: fit-content;
}

.slide .wrapper ul {
  list-style: none;
  display: flex;
  gap: 0.6rem;
  padding: 0;
}

.slide ul li {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  flex-shrink: 0;
}

.slide .wrapper img {
  border-radius: 0.4rem;
  height: 24rem;
  min-width: 18.2rem;
  width: auto;
  background-color: lightgray;
  cursor: pointer;
}

.slide .wrapper .caption {
  text-align: center;
  font-size: small;
  color: gray;
}

b {
  font-weight: 600;
}

.question-mark {
  display: inline-block;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
  0%,
  20%,
  40% {
    transform: translateY(0);
  }
  10%,
  30% {
    transform: translateY(-3px);
  }
}

/* Mobile */
@media (max-width: 990px) {
  main {
    padding: 2.4rem 2rem;
  }

  h3 {
    margin-bottom: 0.6rem;
  }

  .banner {
    height: 14rem;
  }

  .banner img {
    object-fit: cover;
  }

  .intro {
    flex-direction: column;
  }

  .profile ul {
    padding-left: 0.6rem;
  }

  .about-me h2,
  .log h2 {
    border-bottom: solid 1px rgb(231, 231, 231);
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }

  .about-me .content {
    flex-direction: column;
  }

  .about-me .content div {
    border-right: none;
    padding: 1rem 0;
  }

  .log .content .detail .box p br {
    display: none;
  }

  .log p {
    font-size: small;
  }

  .timeline {
    gap: 0.6rem;
  }

  .timeline .line .point {
    width: 1.2rem;
    height: 1.2rem;
  }

  .timeline .line .bar {
    width: 0.4rem;
  }

  .slide {
    margin-right: -2rem;
  }
}
